<% if @listing.errors.present? %>
  <ul>
    <% @listing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= notice %>


<div class="wrapper">
  <div class="row">
    <div class="content-main">

      <%= form_for @listing do |f| %>
        <div class="form-group">
          <%= f.label :address %>
          <div class="col-sm-12">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :owner_name %>
          <div class="col-sm-12">
            <%= f.text_field :owner_name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :owner_email %>
          <div class="col-sm-12">
            <%= f.text_field :owner_email %>
            <div class="form-group">
              <div class="col-sm-12">
                <br>
                <%= f.submit "Create Listing", class: "butn btn-success" %>
              </div>
      <% end %>
      </div>
</div>