<% if @task.errors.present? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="wrapper">
  <div class="content-main">
    <div class="row">
      <%= form_for [@listing, @task], html: {class: 'form-horizontal'} do |f| %>
        <div class="form-group">
          <%= f.label :task_name %>
          <div class="col-sm-12">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <div class="col-sm-12">
            <%= f.text_area :description, style: "width: 300px; height: 150px;" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :finish_by %>
          <div class="col-sm-12">
            <%= f.text_field :finish_by, style: "width: 300px; height: 30px;" %>

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">

            <%= f.submit "Create Task", :value => "Create Task" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
