<h1>Hello</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
  <% end %>
<% if current_user %>
  <%= current_user.email %><br>
  <%= link_to 'Logout', logout_path %><br>
  <%= link_to 'Create Listing', new_listing_path %><br>
  <%= link_to 'View Listings', listings_path %><br>

<% else %>
  <%= link_to 'Register as a seller', new_company_path %>
  <%= link_to 'login', login_path %>
<% end %>
