<p class="publication_title"><%= @owner.email %> Please set your password: </p>
<%= form_for @owner, :as => :owner, :url => password_reset_path, :method => :put do |f| %>
  <table class="form_styling">
    <tr>
      <td><%= f.label 'new password :' %></td>
      <td><%= f.password_field :new_password %></td>
    </tr>

    <tr>
      <%= f.hidden_field :email %>
      <td> <%= f.label 'password confirmation:' %></td>
      <td> <%= f.password_field :new_password_confirmation %></td>
    </tr>
    <tr>
      <td> <%= f.submit 'Update' %></td>
    </tr>
<% end %>
</table>


